<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop info</title>
    <style>
        thead {
            border-bottom: 2px solid rgb(160 160 160);
            text-align: center;
            background-color: #2c5e77;
            color: #fff;
        }

        tbody {
            background-color: #e4f0f5;
        }
    </style>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th scope="col">Param</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col">ID</th>
            <td th:text="${shop.getId()}"></td>
        </tr>
        <tr>
            <th scope="row">Name</th>
            <td th:text="${shop.getName()}"></td>
        </tr>
        <tr>
            <th scope="row">Address</th>
            <td th:text="${shop.getAddress()}"></td>
        </tr>
        <tr>
            <th scope="row">Telephone</th>
            <td th:text="${shop.getTelephone()}"></td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td th:text="${shop.getEmail()}"></td>
        </tr>
        <tr>
            <th scope="row">Site</th>
            <td th:text="${shop.getSite()}"></td>
        </tr>
        <tr>
            <th scope="row">Category_id</th>
            <td th:text="${shop.getCategory_id()}"></td>
        </tr>
        <tr>
            <th scope="row">Description</th>
            <td th:text="${shop.getDescription()}"></td>
        </tr>
        </tbody>
    </table><br>

    <a th:href="@{/shops/{id}/edit (id=${shop.getId})}">Edit</a><br>
    <form th:method="DELETE" th:action="@{/shops/{id} (id=${shop.getId})}">
        <input type="submit" value="Delete"/>
    </form>

</body>
</html>